.mobile{
  display: none;
}

.grid-container{
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: .25fr 1fr 1fr .25fr;
  grid-gap: 10px;
  grid-template-areas: 
  "header header header"
  "content1 content2 content3 "
  "content4 content5 content6 "
  "footer footer footer"
  ;
}

.grid-item{
  border: 1px solid black;
}

.header{
  grid-area: header;
  display: flex;
  border: none;
  background-color: rgb(26, 29, 32);
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  /* justify-self: end; */
  justify-content: space-evenly;
  align-items: center;
}

.content{

  display: flex;
  flex-direction: column;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  align-content: center;
  border: none;
  background-color: #d5d5d5;
  border-radius: 15px;
}

.content-6{
  grid-row: content1/content4;
  grid-column: content3;
}

.footer{
    grid-area: footer;
    display: flex;
    border: none;
    background-color: rgb(26, 29, 32);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    /* justify-self: end; */
    justify-content: space-evenly;
    align-items: center;
}